@import "super-minimal/super-minimal"
$green = #219331
$red = #991111
@import "components/category-select"

// Styles
@keyframes animate-active-arrow
  0%
    right 0.6em
    opacity 0
  100%
    right 0.4em
    opacity 0.3

@keyframes thinking-dots
  0%
    width 0px
  100%
    width 24px


input, textarea, select
  border 1px solid #ccc
  outline none

input[type="checkbox"],
input[type="text"]
  float left
  margin 0.6em 0.5em 0.5em 0

input[type="text"],
input[type="password"],
  display block
  float left
  width 90%
  height auto
  margin 1em 3.5%
  padding 1em
  &.slug
    float left
    display block
    width 49%
    height auto
    margin 0.25em 1em 0.25em 0
    padding 0.25em

fieldset
  display block
  float left
  width 93%
  height auto
  margin 0 3.5%
  padding 0
  border 0

select
  display block
  float left
  width 93%
  height auto
  margin 1em 3.5%
  height 2.8em

label
  font-weight bold
  float left
  margin 0.5em 0.5em 0.5em 0em

textarea
  width 90%
  display block
  min-height 200px
  height 100%
  margin 1em 3.5%
  padding 1em

button()
  float right
  background linear-gradient(to top, 0% #eee, 100% #ededed)
  color #666
  border 1px solid #bbb
  outline none
  margin 0.25em 0.4em 0.25em 0em
  padding 0.5em 0.7em
  font-weight 100
  font-size 1em
  border-radius 3px
  text-decoration none
  transition all 60ms ease-out
  &:active
  &:hover
    background #444
    color #efefef
    border 1px solid #3f3f3f
  &.negative
    &:active
    &:hover
      background $red
      border 1px solid darken($red, 10%)
  &.positive
    &:active
    &:hover
      background $green
      border 1px solid darken($green, 10%)
button,
.button
  button()


table
  width 96%
  margin 1em auto 0 auto
  border-top 1px solid #9a9a9a
  border-left 1px solid #9a9a9a
  th
    background-color #444
    color #efefef
    font-weight 400
  th, td
    padding 0.75em
    text-align left
    border-bottom 1px solid #9a9a9a
    border-right 1px solid #9a9a9a
  tr:nth-child(odd)
    background-color #efefef

.block-content
  margin 1em 2%

h1, h2, h3, h4, h5, h6
  margin 1em 1em 0.5em 0em

img[alt~="large"]
  max-width 90%
  min-width 600px
  height auto

img[alt~="medium"]
  max-width 65%
  min-width 450px
  height auto

img[alt~="small"]
  max-width 45%
  min-width 300px
  height auto

img[alt~="tiny"]
  max-width 30%
  min-width 150px
  height auto

img[alt~="left"]
  display block
  float left
  margin 1em 1em 1em 0.5em

img[alt~="right"]
  display block
  float right
  margin 1em 0.5em 1em 1em

img[alt~="center"]
  display block
  margin 1em auto 1em auto

.add
  button()
  float left
  margin 1em 0.75em 1.8em 0
  &:before
    content ' + '

.dots
  display inline-block
  position relative
  top 2px
  margin-left 0.25em
  animation thinking-dots
  animation-duration 600ms
  animation-iteration-count infinite
  animation-timing-function linear
  overflow hidden
  &:after
    content '...'
    display inline-block

// Layout "The Pig"
body, html
  grid()
  height 100%
  font-size 16px
  & > .ember-view
    height 100%
    &:after
      content ' '
      clear both
      display table
aside
  grid-unit(14%)
  height 100%
  .menu
    grid-unit(100%)
    height 100%
    background #ddd
    li
      grid-unit(100%)
      a
        grid-unit(100%)
        height auto
.page
  grid-unit(86%)
  height 100%

#login-form
  display block
  width 70%
  margin 2em auto

.alert
  display block
  position fixed
  width 320px
  top 2.8em
  right 2%
  padding 1em
  background #1d1d1d
  color #efefef
  opacity 0.8
  text-align center
  z-index 100
  border-radius 3px

.post-edit-form
  grid-unit(100%)
  height 100%
  .post-toolbar
    grid-unit(100%)
    height 2.8em
    position absolute
    top 0px
    left 0px
    z-index 20
  .post-editor
    grid-unit(33%)
    height 100%
    .publishing-info
      grid-unit(94%)
      margin 0 3%
      position absolute
      box-sizing border-box
      padding 4%
      height auto
  .post-edit-preview
    grid-unit(67%)
    height 100%
    box-sizing border-box
    padding 36px 4%

// The Proverbial Lipstick
aside
  border-right 1px solid #ccc
  box-sizing border-box
  font-size 1em
  .menu
    background #666
    li
      margin-top 0px

      a
        background #efefef
        border-bottom 1px solid #ccc
        padding 0.8em 0 0.795em 1em
        text-decoration none
        color #666
        transition background 80ms ease-in-out
        &.active
          background #333
          color #ccc
          text-shadow none
          cursor default
          border-top 1px solid #222
          border-bottom 1px solid #222
          box-shadow inset 0 0 2px #2f2f2f
          z-index 2
          &:hover
          &:active
            background #333
            color #ccc
            text-shadow none
            border-top 1px solid #333
            border-bottom 1px solid #333
        &:active
        &:hover
          background #444
          color #eee
          text-shadow none
          border-bottom 1px solid #444
        &:active
        &:hover
        &.active
          font-weight 100
          &:after
            display block
            position absolute
            top 42%
            right 0.4em
            content ''
            width 0
            height 0
            border-style solid
            border-width 4px 0 4px 6px
            border-color transparent transparent transparent #eee
            opacity 0.3
            z-index 3
            animation animate-active-arrow
            animation-duration 160ms
            animation-iteration-count 1
            animation-direction alternate
            animation-timing-function ease-in-out
        &.dashboard-link
        &.logout-link
          &:after
            display none

.post-toolbar
  background #efefef
  border-bottom 1px solid #9a9a9a
  button
    button()
    float right
  .show-publishing
    float left
    margin 0.2em 1em


.post-editor
  border-top 2.9em solid #2d2d2d
  .publishing-info
    background #252525
    color white
    font-weight 100
    opacity 0.99
    top 0
    left 0px
    font-size 0.9em
    transform translateY(-100%)
    transition all 200ms linear
    box-shadow 0px 0px 2px #222
    border-radius 0 0 1em 1em
    opacity 0.99
    p
      margin 0 0 0.75em 0
    strong,
    h4,
    label
      font-weight 400
    input
      color #333
    &.visible
      transform translateY(0%)

.post-editor
  textarea
    width 100%
    min-height 400px
    height 100%
    margin 0
    padding 2em 4% 4em 4%
    box-sizing border-box
    resize none
    border 0
    background #2d2d2d
    color #ccc

.post-edit-preview
  border-top 36px solid #efefef
  & > h1
    margin 0
    & input
      width 100%
      margin 0 0 0.5em 0
      padding-left 0
      border 0
      border-bottom 1px dashed #eee
      &:required:invalid
        border-bottom 1px solid #9a9a9a

// Desktop Breakpoints
@media screen and (max-width: 1330px)
  body, html
    font-size 14px

@media screen and (max-width: 1200px)
  body, html
    font-size 12px
