css {
  @font-face {
      font-family: 'icomoon';
      src:    url('fonts/icomoon.eot?oexufp');
      src:    url('fonts/icomoon.eot?oexufp#iefix') format('embedded-opentype'),
          url('fonts/icomoon.ttf?oexufp') format('truetype'),
          url('fonts/icomoon.woff?oexufp') format('woff'),
          url('fonts/icomoon.svg?oexufp#icomoon') format('svg');
      font-weight: normal;
      font-style: normal;
  }

  [class^="icon-"], [class*=" icon-"] {
      /* use !important to prevent issues with browser extensions that change fonts */
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }

  .icon-search:before {
      content: "\31";
  }
  .icon-heart:before {
      content: "\32";
  }
  .icon-star:before {
      content: "\33";
  }
  .icon-star-o:before {
      content: "\34";
  }
  .icon-user:before {
      content: "\35";
  }
  .icon-check:before {
      content: "\36";
  }
  .icon-close:before {
      content: "\37";
  }
  .icon-remove:before {
      content: "\37";
  }
  .icon-times:before {
      content: "\37";
  }
  .icon-cog:before {
      content: "\38";
  }
  .icon-gear:before {
      content: "\38";
  }
  .icon-trash-o:before {
      content: "\39";
  }
  .icon-home:before {
      content: "\30";
  }
  .icon-repeat:before {
      content: "\2d";
  }
  .icon-rotate-right:before {
      content: "\2d";
  }
  .icon-refresh:before {
      content: "\3d";
  }
  .icon-volume-off:before {
      content: "\71";
  }
  .icon-volume-down:before {
      content: "\77";
  }
  .icon-volume-up:before {
      content: "\65";
  }
  .icon-print:before {
      content: "\72";
  }
  .icon-pencil:before {
      content: "\74";
  }
  .icon-map-marker:before {
      content: "\79";
  }
  .icon-plus:before {
      content: "\75";
  }
  .icon-minus:before {
      content: "\69";
  }
  .icon-folder:before {
      content: "\6f";
  }
  .icon-folder-open:before {
      content: "\70";
  }
  .icon-heart-o:before {
      content: "\5b";
  }
  .icon-cut:before {
      content: "\5d";
  }
  .icon-scissors:before {
      content: "\5d";
  }
  .icon-copy:before {
      content: "\61";
  }
  .icon-files-o:before {
      content: "\61";
  }
  .icon-caret-down:before {
      content: "\73";
  }
  .icon-caret-up:before {
      content: "\64";
  }
  .icon-caret-left:before {
      content: "\66";
  }
  .icon-caret-right:before {
      content: "\67";
  }
  .icon-envelope:before {
      content: "\68";
  }
  .icon-file-text-o:before {
      content: "\6a";
  }
  .icon-angle-left:before {
      content: "\6b";
  }
  .icon-angle-right:before {
      content: "\6c";
  }
  .icon-angle-up:before {
      content: "\3b";
  }
  .icon-angle-down:before {
      content: "\27";
  }
  .icon-folder-o:before {
      content: "\7a";
  }
  .icon-folder-open-o:before {
      content: "\78";
  }
  .icon-level-up:before {
      content: "\63";
  }
  .icon-level-down:before {
      content: "\76";
  }
  .icon-sort-alpha-asc:before {
      content: "\62";
  }
  .icon-sort-alpha-desc:before {
      content: "\6e";
  }
  .icon-sort-amount-asc:before {
      content: "\6d";
  }
  .icon-sort-amount-desc:before {
      content: "\2c";
  }
  .icon-sort-numeric-asc:before {
      content: "\2e";
  }
  .icon-sort-numeric-desc:before {
      content: "\2f";
  }
  .icon-file-pdf-o:before {
      content: "\60";
  }
  .icon-file-word-o:before {
      content: "\7e";
  }
  .icon-file-excel-o:before {
      content: "\21";
  }
  .icon-file-powerpoint-o:before {
      content: "\40";
  }
  .icon-file-image-o:before {
      content: "\23";
  }
  .icon-file-photo-o:before {
      content: "\23";
  }
  .icon-file-picture-o:before {
      content: "\23";
  }
  .icon-file-archive-o:before {
      content: "\24";
  }
  .icon-file-zip-o:before {
      content: "\24";
  }
  .icon-file-audio-o:before {
      content: "\25";
  }
  .icon-file-sound-o:before {
      content: "\25";
  }
  .icon-file-movie-o:before {
      content: "\5e";
  }
  .icon-file-video-o:before {
      content: "\5e";
  }
  .icon-file-code-o:before {
      content: "\26";
  }
  .icon-trash:before {
      content: "\2a";
  }
  .icon-commenting:before {
      content: "\28";
  }
  .icon-commenting-o:before {
      content: "\29";
  }
}

