body
  footer
    border-top 1px solid $deep-black
    background linear-gradient( left to top, 100% $deep-purple, 0% darken($purple, 30%))
    color $white
    &:before
      position absolute
      display block
      content ''
      min-width 100%
      min-height 100%
      background linear-gradient(left to top, 0% rgba($orange, 30%), 20% $orange, 40% $green, 70% $purple, 100% $purple)
      z-index -2
      opacity 0.33
      box-shadow inset 0px 0px 40px 0px $deep-purple
    &:after
      display block
      content ''
      width 100%
      height 100%
      position absolute
      top 0
      left 0
      background url("noice.png"), $white

      opacity 0.13
      z-index -1
    section
      min-height 0
      margin 0 auto
      padding 0
      z-index 2
      overflow hidden
    svg
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
      width auto !important
      height 230% !important
      max-width 700% !important
      max-height 700% !important
      z-index -2
      opacity 0.8
      #Regions
        stroke $deep-purple
      #Brain
        path
          stroke $deep-purple !important
    .quote,
    .social
      h1, h2, h3, h4, h5, h6, p
        color $white !important
    .quote
      background rgba($deep-purple, 70%)
      color $white
      a
        color $white
        &:hover
          color $green
    .social
      text-align center
      letter-spacing 0.03em
      ul
        margin 3em 0
        padding 0
        li
          display inline
          margin 1em 0.25em
          font-size 3em
          a
            color $white
            text-align center
            outline none
            opacity 0.8
            &:active,
            &:hover
              color #fff
              opacity 1
          a:before
            font-family "socicon"
          .github
            &:before
              content "\e030      "
          .twitter
            &:before
              content "\e040      "
          .facebook
            &:before
              content "\e041      "
          .linked-in
            &:before
              content "\e049      "
    &.small
      text-align center
      svg
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        width 100% !important
        height auto !important
        max-width 1700% !important
        max-height 1700% !important
      .social
        text-align center
        h5,
        ul
          text-align center
