  .post
    text-align justify
  .posts
    text-align justify
    h5
      text-align center
    ul:first-of-type
      margin 0
      padding 0
      list-style none
      li
        margin 0
        padding 2em
        border-bottom 1px solid $green
    .pagination
      display block
      text-align center
      padding 0
      margin 3em auto
      &:after
        content ''
        clear both
        display table
      li
        display inline-block
        span,
        a
          color $purple
          padding 8px 16px
          text-decoration none
          user-select none
          line-height 1.5em
          &.active
            background-color $purple
            color white
            pointer-events none
          &:hover:not(.active)
            background-color #efefef
          &.next
            &:before
              content '>'
              display inline
          &.previous
            &:before
              content '<'
              display inline


