@keyframes category-fade-in
  0%
    opacity 0
  100%
    opacity 100%

.category-list
  grid-unit(100%)
  padding 0
  margin-bottom 1em
  -webkit-overflow-scrolling touch
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none
  span
    cursor pointer
    animation category-fade-in
    animation-duration 300ms
    animation-iteration-count 1
    animation-timing-function ease-in-out
  .selected
    display inline-block
    span
      background #dedede
      border 1px solid #cecece
      border-radius 3px
      float left
      display inline-block
      margin 0 0.25em 0.5em 0.25em
      padding 0.30em 0.40em 0.40em 0.48em
      &:hover
        color $red
  .available
    display inline-block
    column-count 2
    max-height 100px
    overflow-y scroll
    span
      &:hover
        color $green

