@keyframes category-fade-in
  0%
    opacity 0
  100%
    opacity 100%

.category-list
  padding 0
  margin-bottom 1em
  user-select none
  h5
    clear both
    margin 0.5em 0
    font-weight 400
    color #666
  hr
    margin 1em
    border 1px dashed #666
  span
    float left
    clear both
    cursor pointer
    animation category-fade-in
    animation-duration 60ms
    animation-iteration-count 1
    animation-timing-function ease-in-out
    transition all 60ms linear
    font-weight normal
    letter-spacing 0.025em
    &:hover
      text-decoration underline
  .selected
    display inline-block
    width 100%
    column-count 2
    color #000
  .available
    display inline-block
    width 100%
    column-count 2
    color #666


