@keyframes thinking-dots
  0%
    width 0px
  100%
    width 24px

.dots
  display inline-block
  position relative
  top 2px
  line-height 30px
  margin-left 0.25em
  animation thinking-dots
  animation-duration 600ms
  animation-iteration-count infinite
  animation-timing-function linear
  overflow hidden
  &:after
    content '...'
    display inline-block
