<div class="block-content">
  <h2>Change Password for {{model.username}}</h2>
</div>
<form id="user-change-password-form" {{action "edit" model.username model.password on="submit"}}>
  {{input type="password" value=model.password placeholder="New Password"}}
  {{input type="password" value=model.confirm placeholder="Confirm New Password"}}
  <fieldset>
    <button type="submit" class="btn">Save</button>
  </fieldset>
</form>
