<h1>Change Password for {{model.username}}</h1>
<form id="user-change-password-form" {{action "edit" model.username model.password on="submit"}}>
  {{input type="password" value=model.password}}
  {{input type="password" value=model.confirm}}
  <button type="submit" class="btn">Save</button>
</form>
