<header class="header">
  <video autoplay loop muted>
    <source src="/gridtile.mp4" type="video/mp4" />
  </video>
  <h1>I'm Kris Hedges</h1>
  <h2>Developer, Designer, Musician, & Person.</h2>
  <h4>This is <em>some</em> of my work and thoughts.</h4>
</header>
