<div class="main-menu">
  <a href="" class="hamburger">=</a>
  <ul>
    <li>{{#link-to 'index' }}Home{{/link-to}}</li>
    {{#each pages as |page|}}
      <li>{{#link-to 'show' page.slug}}{{page.title}}{{/link-to}}</li>
    {{/each}}
    <li>{{#link-to 'posts'}}Everything{{/link-to}}</li>
  </ul>
  <a href="" class="logo">KRISHEDGES.SPACE</a>
</div>
<header>
  <video autoplay loop muted>
    <source src="/gridtile.mp4" type="video/mp4" />
  </video>
  <h1>I'M KRIS HEDGES</h1>
  <h2>Developer, Designer, Musician, & Person.</h2>
  <h4>This is <em>some</em> of my work and thoughts.</h4>
</header>
