grid(width = 100%, min-width = 320px, height = 100%, overflow = hidden, position = relative)
  width width
  height height
  min-width min-width
  overflow overflow
  position position
  display block
  margin 0 auto

grid-unit(width = 100%, height = auto, max-width = 100%, overflow = auto, position = relative)
  float left
  width width
  max-width max-width
  height height
  overflow overflow
  position position
  display block
  margin 0
  padding 0
  box-sizing border-box
