@css {
  @import url(https://fonts.googleapis.com/css?family=Rajdhani|Martel);

  @font-face {
    font-family: "socicon";
    src:url("fonts/socicon.eot");
    src:url("fonts/socicon.eot?#iefix") format("embedded-opentype"),
      url("fonts/socicon.woff") format("woff"),
      url("fonts/socicon.ttf") format("truetype"),
      url("fonts/socicon.svg#socicon") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}

@import "super-minimal/super-minimal"
@import "colors"
@import "images"
@import "typo"

// Layout "The Pig"
html
  width 100%
  height 100%
  overflow hidden

body
  position relative
  width 100%
  height 100%
  overflow hidden
  text-rendering optimizeLegibility
  font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  & > .ember-view
    margin 0
    padding 0
    top 0
    height 100%
    &:after
      content ' '
      clear both
      display table
  #main
    grid-unit(100%)
    min-width 320px
    height 100%
    top 0
    font-family $body_font
    font-size 15px
    margin 0
    padding 0
    overflow-y scroll
    -webkit-overflow-scrolling touch
    position absolute
    top 0
    left 0
    float none
  header
    grid-unit(100%)
    display block
    height 30%
    overflow hidden
    position relative
    transform translate3d(0,0,0)
  .main-menu
    display block
    position fixed
    top 0px
    left 0px
    width 100%
    height 60px
    z-index 6
    .hamburger
      display none
    ul
      display block
  .mobile-menu
    grid-unit(100%)
    height 100%
    padding-top 60px
    position absolute
    top 0
    left -100%
    z-index 4
    float none
    overflow hidden
  section
    grid-unit(100%)
    overflow visible
    float none
    clear both
    max-width 1400px
    min-height 900px
    margin 0 auto
    padding 3em 2% 7em 2%
  footer
    grid-unit(100%)
    position relative
    z-index 0
    margin-top 5em
    overflow hidden
    .quote,
    .social
      grid-unit(46%)
      margin 2%
      padding 1em 4em 2em 4em
      box-sizing border-box
      overflow hidden
    &.small
      height 90px
      margin 0 auto
      .social
        grid-unit(100%)
        h5,
        ul
          grid-unit(50%)
          margin 1em 0
  .latest-by-category
    dl
      grid-unit(33%)
      box-sizing border-box
      padding 0em 3em
  .post
    column-count 2
    column-gap 3em
    transform translate3d(0,0,0)
    backface-visibility hidden
  iframe
    margin 1em auto

@import "pages/index"
@import "pages/posts"
@import "components/header"
@import "components/footer"
@import "components/menu"

@media only screen and (max-width: 1023px)
  body
    font-size 13px
    .main-menu
      .hamburger
        display block
      ul
        display none
        width 0
    iframe
      width 90% !important
      margin 1em 5%
    header
      video
        source
          display none !important
        &::-webkit-media-controls
          display none !important
    footer
      .quote,
      .social
        grid-unit(96%)
        margin 2%
        padding 1em 4em 2em 4em
        box-sizing border-box
        overflow hidden
      &.small
        height auto
        margin 0 auto
        .social
          grid-unit(100%)
          h5,
          ul
            grid-unit(100%)
            margin 1em 0
    .latest-by-category
      dl
        grid-unit(100%)
        box-sizing border-box
        padding 0em 3em
    .post
      text-align left
      column-count 1
      column-gap 0

