@import "super-minimal/super-minimal"
$gray = #666666
$white = #efefef

img[alt~="large"]
  max-width 90%
  min-width 600px
  height auto

img[alt~="medium"]
  max-width 65%
  min-width 450px
  height auto

img[alt~="small"]
  max-width 45%
  min-width 300px
  height auto

img[alt~="tiny"]
  max-width 30%
  min-width 150px
  height auto

img[alt~="left"]
  display block
  float left
  margin 1em 1em 1em 0.5em

img[alt~="right"]
  display block
  float right
  margin 1em 0.5em 1em 1em

img[alt~="center"]
  display block
  margin 1em auto 1em auto

// Layout "The Pig"
body, html
  grid-unit(100%)
  font-size 16px
  & > .ember-view
    height 100%
    &:after
      content ' '
      clear both
      display table

header
  grid-unit(100%)
  min-height 480px
  height 100%
  background $gray
  color $white

section
  grid-unit(100%)
