<div class="category-list">
  <div class="selected">
    <h4>Add A Category from Below</h4>
    {{#each selected_alpha_categories as |category|}}
      <span {{action 'removeCategory' category post}}> - {{category.name}}</span>
    {{/each}}
  </div>
  <hr/>
  <div class="available">
    {{#each available_categories as |category|}}
      <span {{action 'addCategory' category post}}> + {{category.name}}</span>
      <br/>
    {{/each}}
  </div>
</div>
