<div class="category-list">
  <h4>Add Category</h4>
  <h5>Selected:</h5>
  <div class="selected">
    {{#each selected_alpha_categories as |category|}}
      <span {{action 'removeCategory' category post}}> - {{category.name}}</span>
    {{/each}}
  </div>
  <hr/>
  <h5>Available:</h5>
  <div class="available">
    {{#each available_categories as |category|}}
      <span {{action 'addCategory' category post}}> + {{category.name}}</span>
      <br/>
    {{/each}}
  </div>
</div>
