<div class="page">
  <div class="block-content">
    <h2>Dashboard</h2>
    Todo:
    <ul>
      <li>Clean Up Flash Messages</li>
      <li>Clean Up Category Forms</li>
      <li>Clean Up User Forms</li>
      <li>Clean Up Sign In Form</li>
      <li>Dashboard</li>
        <ul>
          <li>Category Popularity</li>
          <li>Most Active Users</li>
          <li>Latest Post</li>
        </ul>
    </ul>
  </div>
</div>
