<div class="page">
  <h2>Dashboard</h2>
  <div class="block-content">
    Todo:
    <ul>
      <li>Clean Up Flash Messages</li>
      <li>Clean Up Category Forms</li>
      <li>Clean Up User Forms</li>
      <li>Clean Up Sign In Form</li>
      <li>Top 3 Categories - Here!</li>
      <li>Top 3 Users - Here!</li>
      <li>Latest 3 Posts - Here!</li>
    </ul>
  </div>
</div>
