<div class="page">
  <div class="block-content">
    <h2>Dashboard</h2>
    Todo:
    <ul>
      <li>Handle Errors in Update Actions with Flash Notices</li>
      <li>Dashboard</li>
        <ul>
          <li>Category Popularity</li>
          <li>Most Active Users</li>
          <li>Latest Post</li>
        </ul>
    </ul>
  </div>
</div>
