<form id="login-form" {{action "login" username password on="submit"}}>
  <h2>Sign In</h2>
  {{input type="text" value=username placeholder="Username"}}
  {{input type="password" value=password placeholder="Password"}}
  <fieldset>
    <button type="submit" class="btn">Log in!</button>
  </fieldset>
</form>
