<aside>
  <ul class="menu">
    {{#each model as |user|}}
      <li>{{#link-to 'users.user' user.id}}{{user.username}}{{/link-to}}</li>
    {{/each}}
  </ul>
</aside>
<div class="page">
  {{outlet}}
</div>
